[submodule "server/tinymce-clean-server"]
	path = src/server/tinymce-clean-server
	url = https://github.com/zotero/tinymce-clean-server
[submodule "server/stream-server"]
	path = src/server/stream-server
	url = https://github.com/zotero/stream-server
[submodule "server/dataserver"]
	path = src/server/dataserver
	url = https://github.com/zotero/dataserver
[submodule "client/web-library"]
	path = src/server/web-library
	url = https://github.com/zotero/web-library
